<div class="table-wrapper mat-elevation-z1">
  <table
    [dataSource]="tableEntries()"
    class="summary-table"
    mat-table
  >
    <ng-container matColumnDef="title">
      <th
        *matHeaderCellDef
        mat-header-cell
      >
        <!-- {{ T.F.TASK.SUMMARY_TABLE.TASK | translate }} -->
        Title
      </th>
      <td
        *matCellDef="let entry"
        mat-cell
        class="entry-title"
      >
        @if (entry.type === 'start') {
          <div class="outset"></div>
        }
        <div
          [class.isDone]="entry.task?.isDone"
          class="entry-title"
        >
          @if (entry.icon) {
            <mat-icon>{{ entry.icon }}</mat-icon>
          }
          <span>{{ entry.description }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="timeStart">
      <th
        *matHeaderCellDef
        mat-header-cell
      >
        Start
      </th>
      <td
        *matCellDef="let entry"
        mat-cell
        class="entry-time-start"
      >
        @if (entry.type !== 'unaccounted' && entry.type !== 'end') {
          <inline-input
            type="time"
            [value]="entry.start | momentFormat: 'HH:mm'"
            (changed)="onStartChanged(entry, $event)"
          />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="timeEnd">
      <th
        *matHeaderCellDef
        mat-header-cell
      >
        End
      </th>
      <td
        *matCellDef="let entry"
        mat-cell
        class="entry-time-end"
      >
        @if (
          (entry.type !== 'unaccounted' &&
            entry.type !== 'start' &&
            entry.start !== undefined) ||
          entry.type === 'end'
        ) {
          <inline-input
            type="time"
            [value]="entry.end | momentFormat: 'HH:mm'"
            (changed)="onEndChanged(entry, $event)"
          />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="timeDuration">
      <th
        *matHeaderCellDef
        mat-header-cell
        class="entry-time-duration"
      >
        <!-- {{ T.F.TASK.SUMMARY_TABLE.SPENT_TODAY | translate }} -->
        Duration
      </th>
      <td
        *matCellDef="let entry"
        mat-cell
      >
        @if (entry.duration !== undefined) {
          @if (entry.type !== 'unaccounted') {
            <inline-input
              type="duration"
              [displayValue]="entry.duration | msToClockString"
              [value]="entry.duration"
              (changed)="onDurationChanged(entry, $event)"
            />
          } @else {
            <span>
              {{ entry.duration | msToClockString }}
            </span>
          }
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        *matHeaderCellDef
        mat-header-cell
      >
        <!-- {{ T.F.TASK.SUMMARY_TABLE.ACTIONS | translate }} -->
        Actions
      </th>
      <td
        *matCellDef="let entry"
        mat-cell
        class="entry-actions"
      >
        @if (entry.type === 'start') {
          @if (workStartIsManual()) {
            <button
              mat-icon-button
              (click)="setAutoStartTime()"
              class="set-auto-start-time"
              [title]="'Set Auto Start Time'"
              aria-label="Set Auto Start Time"
            >
              <mat-icon>time_auto</mat-icon>
            </button>
          }
        }
        @if (entry.type === 'end') {
          <div class="outset"></div>
          @if (workEndIsManual()) {
            <button
              mat-icon-button
              (click)="setAutoEndTime()"
              class="set-auto-end-time"
              [title]="'Set Auto End Time'"
              aria-label="Set Auto End Time"
            >
              <mat-icon>time_auto</mat-icon>
            </button>
          }
        }
        @if (entry.type === 'task' || entry.type === 'break') {
          <button
            mat-icon-button
            (click)="deleteEntry(entry)"
            class="delete-entry"
            [title]="'Delete Entry'"
            aria-label="Delete Entry"
          >
            <mat-icon>delete</mat-icon>
          </button>
        }
        @if (entry.type === 'task' && entry.task) {
          <button
            (click)="toggleTaskDone(entry.task)"
            [class.isDone]="entry.task.isDone"
            [title]="T.F.TASK.SUMMARY_TABLE.TOGGLE_DONE | translate"
            class="check-done"
            mat-icon-button
          >
            <mat-icon
              aria-label="Mark as undone"
              class="undo"
              >undo
            </mat-icon>
            <mat-icon
              aria-label="Mark as done"
              class="check"
              >check
            </mat-icon>
          </button>
        }
        @if (entry.type === 'unaccounted') {
          <span>
            <button
              [title]="'Add Task'"
              aria-label="Add Task"
              (click)="addTask()"
              mat-icon-button
            >
              <mat-icon>add_task</mat-icon>
            </button>
            <button
              [title]="'Add Break'"
              aria-label="Add Break"
              (click)="addBreak()"
              mat-icon-button
            >
              <mat-icon>coffee</mat-icon>
            </button>
          </span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="nDash">
      <th
        *matHeaderCellDef
        mat-header-cell
      ></th>
      <td
        *matCellDef="let entry"
        mat-cell
        class="entry-n-dash"
      >
        <span
          class="dash"
          [class.hidden]="entry.type !== 'end' && !entry?.start"
        >
          &ndash;
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="eq">
      <th
        *matHeaderCellDef
        mat-header-cell
        class="entry-eq"
      ></th>
      <td
        *matCellDef="let entry"
        mat-cell
      >
        <span
          class="eq"
          [class.hidden]="!entry?.end"
        >
          =
        </span>
      </td>
    </ng-container>

    <tr
      *matHeaderRowDef="[
        'title',
        'timeStart',
        'nDash',
        'timeEnd',
        'eq',
        'timeDuration',
        'actions',
      ]"
      mat-header-row
    ></tr>
    <tr
      *matRowDef="
        let row;
        columns: [
          'title',
          'timeStart',
          'nDash',
          'timeEnd',
          'eq',
          'timeDuration',
          'actions',
        ]
      "
      mat-row
      [attr.class]="row.type"
    ></tr>
  </table>
</div>
