:host {
  display: block;
}

.summary-table {
  width: 100%;

  background: var(--card-bg);

  tr {
    height: 36px !important;
  }

  td {
    text-align: center;

    color: var(--text-color-muted);

    inline-input {
      color: var(--text-color);
    }
  }

  th {
    text-align: center;
  }

  th,
  td {
    min-width: 50px;
  }

  th:first-child,
  td:first-child {
    text-align: start;
    min-width: 220px;
  }

  .cdk-column-timeSpentToday ::ng-deep .inline-input-wrapper {
    padding: var(--s);

    input {
      width: 100px;
    }
  }

  tr td {
    mat-icon {
      font-size: 1.4em;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      opacity: 0.6;
    }
  }

  tr.start td {
    background-color: var(--bg-darker);

    &:first-child {
      border-radius: 14px 0 0 18px;
    }

    span.eq {
      display: none;
    }
  }

  tr.end td {
    background-color: var(--bg-darker);

    &:last-child {
      border-radius: 0 14px 14px 0;
    }
  }

  tr.break td {
    background-color: var(--bg-darker);
  }

  tr.summary {
    td {
      font-weight: 700;
    }

    span.dash,
    span.eq {
      display: none;
    }
  }

  tr.unaccounted {
    td {
      font-style: italic;
    }

    span.dash,
    span.eq {
      display: none;
    }
  }

  span.hidden {
    display: none;
  }
}
