:host {
  display: block;
}

.table-wrapper {
  /* override material table wrapper overflow: auto to allow the start and end rows to flow beyond the table border using translate */
  overflow: visible;
}

.summary-table {
  width: 100%;

  background: var(--card-bg);

  tr {
    height: 36px !important;
  }

  td {
    text-align: center;

    color: var(--text-color-muted);

    inline-input {
      color: var(--text-color);
    }
  }

  th {
    text-align: center;
  }

  th,
  td {
    min-width: 50px;
  }

  th:first-child,
  td:first-child {
    text-align: start;
    min-width: 220px;
  }

  .cdk-column-timeSpentToday ::ng-deep .inline-input-wrapper {
    padding: var(--s);

    input {
      width: 100px;
    }
  }

  .entry-title {
    mat-icon {
      font-size: 1.4em;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      opacity: 0.6;
    }

    &.isDone {
      text-decoration: line-through;
    }
  }

  tr.start td {
    background-color: var(--bg-darker);

    &:first-child {
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      align-items: center;
    }

    div.outset {
      border-radius: 14px 0 0 14px;
      width: 14px;
      height: 36px;
      transform: translateX(-14px);
      background-color: var(--bg-darker);
    }

    span.eq {
      display: none;
    }
  }

  tr.end td {
    background-color: var(--bg-darker);

    &:last-child {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 0px;
    }

    div.outset {
      border-radius: 0 14px 14px 0;
      width: 14px;
      height: 36px;
      transform: translateX(14px);
      background-color: var(--bg-darker);
    }
  }

  tr.break td {
    background-color: var(--bg-darker);
  }

  tr.summary {
    td {
      font-weight: 700;
    }

    span.dash,
    span.eq {
      display: none;
    }
  }

  tr.unaccounted {
    td {
      font-style: italic;
    }

    span.dash,
    span.eq {
      display: none;
    }
  }

  span.hidden {
    display: none;
  }
}

.entry-actions {
  button {
    opacity: 0;
  }
  &:hover {
    button {
      opacity: 1 !important;
    }
  }
}

.check-done {
  .undo {
    opacity: 0;
    margin-right: -24px;
  }

  &.isDone {
    .check {
      opacity: 0;
    }

    .undo {
      opacity: 1;
    }
  }
}
